body {
  background-color: #202020;
}

.chart {
  width: fit-content;
  margin: auto;
  padding-top: 60px;
}

.chart .chart-flex {
  display: flex;
  gap: 25px;
}

.chart .chart-flex .bar-chart {
  height: fit-content;
  border: 1px solid #ffffff1a;
  padding: 20px;
  border-radius: 30px;
}

.chart .chart-flex .line-chart {
  border: 1px solid #ffffff1a;
  padding: 20px;
  border-radius: 30px;
}

.chart .radial-chart {
  border: 1px solid #ffffff1a;
  padding: 20px;
  border-radius: 30px;
  width: fit-content;
  margin-top: -110px;
  margin-left: auto;
  margin-right: 150px;
  position: relative;
  backdrop-filter: blur(12px);
}